
/* Full-width input fields */
*{
  font-family: 'Thasadith', sans-serif;
}
/* input[type=text], input[type=password] {
  width: 100%;
  padding: 7.5px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
} */

/* Set a style for the submit button */
/* .btn {
  background: #0879c9;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
} */

.btn:hover {
  opacity: 1;
}
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  /* left: 0; */
  /* top: 0; */
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
  padding-top: 167px;
}
.broder1{
  background-color: aliceblue;
  border: 1px solid black;
  height: 356px;
}
.cancelbtn {
  margin-top: 25px;
  width: auto;
  padding: 7px 18px;
  background-color: #e95f54;
}