INSERT INTO `sanpham` (`id`, `ten_sp`, `hinh_sp`, `gia`, `bao_hanh`, `id_ma_loai`, `id_ma_nsx`, `mota`, `created_at`,
`updated_at`) VALUES
(NULL, 'SamSung J2 Prim', '636863636051023338_ss-galaxy-s10-plus-den-1.png', '5000000', '1', '2', '8', '0',CURRENT_TIMESTAMP, CURRENT_TIMESTAMP),
(NULL, 'Samsung A9 Pro', '636651931974866915_a8star-trang-1.jpg', '6700000', '1', '2', '8', '0',CURRENT_TIMESTAMP, CURRENT_TIMESTAMP),
(NULL, 'SamSung TableLife 2', '636719128187685571_samsung-galaxy-tab-A105-anh-1.jpg', '4500000', '1', '3', '8', '0',CURRENT_TIMESTAMP, CURRENT_TIMESTAMP),
(NULL, 'SamSung Table Flush', '636900747857038410_ss-tab-a-plus-8-xam-1.png','8200000', '1', '3', '8', '0', CURRENT_TIMESTAMP, CURRENT_TIMESTAMP),
NULL, 'Iphone 8', 'dt1_2.jpg', '12000000', '1', '2', '1','0', CURRENT_TIMESTAMP, CURRENT_TIMESTAMP),
(NULL, 'Iphone X Max', '636748771945393060_iPhone-Xs-Max-gold.png', '1500000', '1', '2', '1', '0', CURRENT_TIMESTAMP,CURRENT_TIMESTAMP),
(NULL, 'Mac Book Ari 2015', 'apple-macbook-air-mqd32sa-a-i5-5350u-400-1-450x300-600x600.jpg', '23000000', '1', '1', '1', '0', CURRENT_TIMESTAMP,CURRENT_TIMESTAMP),
(NULL, 'Mac Book Ari 2018', 'apple-macbook-air-mre82sa-a-i5-8gb-128gb-2018-2-600x600.jpg', '24000000', '1', '1', '1', '0', CURRENT_TIMESTAMP,CURRENT_TIMESTAMP),
(NULL, 'ZenFone 5C', 'dt3_2.jpg', '3200000', '1', '2', '2', '0', CURRENT_TIMESTAMP, CURRENT_TIMESTAMP),
(NULL, 'Zenfone 2', 'dt3_1.jpg', '2500000', '1', '2', '2', '0', CURRENT_TIMESTAMP, CURRENT_TIMESTAMP),
(NULL, 'Oppo Neo 5', '636719290285040764_636707945145075227_oppoF9-xanh-0.jpg','5500000', '1', '2', '6', '0', CURRENT_TIMESTAMP, CURRENT_TIMESTAMP),
(NULL, 'Oppo neo 9', '636729728517771862_oppo=findx-do-1.jpg', '7200000', '1', '4', '6','0', CURRENT_TIMESTAMP, CURRENT_TIMESTAMP),
(NULL, 'HP KP258', '636824776997689324_hp-envy-13-ah1011tu-1.png', '15000000', '1', '1', '3', '0', CURRENT_TIMESTAMP,CURRENT_TIMESTAMP),
(NULL, 'HP New PN2', '636875497884170183_hp-envy-x360-ag0045au-r5-2500u-8gb-1.png', '13200000', '1', '1', '3', '0', CURRENT_TIMESTAMP, CURRENT_TIMESTAMP),
(NULL, 'Dell Vertro 3568', '636612854975703762_Dell-Vostro-3578A-1.png', '14000000', '1', '1', '5', '0', CURRENT_TIMESTAMP, CURRENT_TIMESTAMP),
(NULL, 'DellVersion 2015', '636530775208517587_Dell-Vostro-5471-2.png', '12000000', '1', '1', '5', '0', CURRENT_TIMESTAMP, CURRENT_TIMESTAMP),
(NULL, 'MSI Gaming Z5', '636680367015529770_MSI-GF63-8RD-Chi-tiet-4.png','23000000', '1', '1', '7', '0', CURRENT_TIMESTAMP, CURRENT_TIMESTAMP),
(NULL, 'MSI Version 3', '636735709327697588_msi moi.png', '15000000', '1', '1','7', '0', CURRENT_TIMESTAMP, CURRENT_TIMESTAMP), 
(NULL, 'MSI GTX85', 'msi-prestige-ps42-i5-8250u-4gb-256gb-14-win10-33397-thumb-123-600x600.jpg', '14300000', '1', '1', '7', '0',CURRENT_TIMESTAMP, CURRENT_TIMESTAMP), 
(NULL, 'Lenovo K2', 'dt4_1.jpg', '4200000', '1', '2', '4', '0', CURRENT_TIMESTAMP,CURRENT_TIMESTAMP);



//moita
INSERT INTO `motachitiet` (`id`, `ten_sp`, `ram`, `bo_nho`, `do_hoa`, `man_hinh`, `he_dieu_hanh`, `pin`, `cam_truoc`, `cam_sau`, `cpu`, `kich_thuoc`, `ban_phim`, `hinh_sp1`, `hinh_sp2`, `hinh_sp3`, `id_ma_sp`, `created_at`, `updated_at`) VALUES (NULL, 'SamSung J2 Prim', '8GB', '64GB', NULL, 'Dynamic AMOLED, 6.4\", Quad HD+ (2K+)', 'Android 9.0 (Pie)', '4100 mAh, có sạt nhanh', 'Chính 10 MP & Phụ 8 MP', 'Chính 12 MP & Phụ 12 MP, 16 MP', 'Exynos 9820 8 nhân 64-bit', 'Dài 157.6 mm - Ngang 74.1 mm - Dày 7.8 mm, nặng 175g', NULL, '636863636051023338_ss-galaxy-s10-plus-den-1.png', '636863636050913338_ss-galaxy-s10-plus-den-2.png', '636863636050673338_ss-galaxy-s10-plus-den-3.png', '49',CURRENT_TIMESTAMP, CURRENT_TIMESTAMP);
INSERT INTO `motachitiet` (`id`, `ten_sp`, `ram`, `bo_nho`, `do_hoa`, `man_hinh`, `he_dieu_hanh`, `pin`, `cam_truoc`, `cam_sau`, `cpu`, `kich_thuoc`, `ban_phim`, `hinh_sp1`, `hinh_sp2`, `hinh_sp3`, `id_ma_sp`, `created_at`, `updated_at`) VALUES (NULL, 'SamSung J2 Prim', '8GB', '64GB', NULL, 'Dynamic AMOLED, 6.4\", Quad HD+ (2K+)', 'Android 9.0 (Pie)', '4100 mAh, có sạt nhanh', 'Chính 10 MP & Phụ 8 MP', 'Chính 12 MP & Phụ 12 MP, 16 MP', 'Exynos 9820 8 nhân 64-bit', 'Dài 157.6 mm - Ngang 74.1 mm - Dày 7.8 mm, nặng 175g', NULL, '636863636051023338_ss-galaxy-s10-plus-den-1.png', '636863636050913338_ss-galaxy-s10-plus-den-2.png', '636863636050673338_ss-galaxy-s10-plus-den-3.png', '49',CURRENT_TIMESTAMP, CURRENT_TIMESTAMP);